<router-outlet />
<!-- <app-temp-form></app-temp-form> -->
<!-- <form #myForm = "ngForm" (ngSubmit)="myFun(myForm)">
    <h4>myForm</h4>
    value {{myForm.value |json}}<br>
    valid {{myForm.valid }}<br>
    invalid {{myForm.invalid }}<br>
    {{errMsg}}
    <input name="fName" ngModel #myFName="ngModel" required email maxlength="10" minlength="5" [ngClass]=" { 'green':myFName.valid, 'red':myFName.invalid } ">
    <div class="alert alert-danger" *ngIf="myFName.invalid">

        <li *ngIf="myFName.errors?.['email']">First name must be an email</li>
        <li *ngIf="myFName.errors?.['minlength']">First name min len is 5 </li>
        <li *ngIf="myFName.errors?.['required']">First name is required</li>
    </div> -->
    <!-- <br>
    value: {{myFName.value}}<br>
    valid: {{myFName.valid}}<br>
    invalid: {{myFName.invalid}}<br>
    touched: {{myFName.touched}}<br>
    dirty: {{myFName.dirty}}<br>
    errors: {{ myFName.errors|json }}<br> -->
    <!-- <input type="submit" [disabled]="myForm.invalid">
</form> -->
<app-adduser />