<section class="container my-5">
    <div>
        <li>{{addUser.value | json}}</li>
        <li>{{addUser.valid}}</li>
    </div>
    <form [formGroup]="addUser" (ngSubmit)="addMe()">
        <div class="mb-3">
            <input name="firstname" placeholder="first name" class="form-control" formControlName="firstname">
            <!-- {{fname.valid}}<br>
            {{fname.value}}<br>
            {{userData.firstname.value}}<br>
            {{addUser.controls.firstname.value}} -->
            <div class="alert alert-danger mt-3" *ngIf="userData.firstname.invalid">
                <li *ngIf="userData.firstname.errors?.['required']">required</li>
            </div>
        </div>
        <div class="mb-3">
            <input name="lastname" placeholder="last name" class="form-control" formControlName="lastname">
        </div>
        <div class="mb-3">
            <input name="email" placeholder="email" class="form-control" formControlName="email" formControlName="email">
        </div>
        <div class="mb-3">
            <input name="password" placeholder="password" class="form-control" type="password" formControlName="password" formControlName="password">
        </div>
        <div class="mb-3">
            <input name="confirm_password" placeholder="confirm password" class="form-control" type="password" formControlName="confirm_password">
        </div>
        <div class="mb-3">
            <input name="phone" placeholder="phone" class="form-control" formControlName="phone">
        </div>
        <div class="mb-3">
            <input name="birth_date" placeholder="birth date" class="form-control" formControlName="birth_date">
        </div>
        <div class="mb-3">
            <h5>Gender</h5>
            <div class="form-check col-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" formControlName="gender">
                <label class="form-check-label" for="flexRadioDefault1" value="male" name="gender">
                  male
                </label>
              </div>
              <div class="form-check col-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"  formControlName="gender">
                <label class="form-check-label" for="flexRadioDefault1" value="female" name="gender">
                  male
                </label>
              </div>
        </div>
        <div class="mb-3">
            <input name="country" placeholder="country" class="form-control" formControlName="country">
        </div>
        <div class="mb-3">
            <input name="governorate" placeholder="governorate" class="form-control" formControlName="governorate">
        </div>
        <div class="mb-3">
            <input name="company" placeholder="company" class="form-control" formControlName="company">
        </div>
        <div class="mb-3">
            <button class="btn btn-danger">register</button>
        </div>
    </form>
</section>