<!-- <button class="btn btn-primary" (click)="chng()">Change Status</button>
@if(isLoggedIn){
    <div class="alert alert-primary"> logged in </div>
}
@else {
    <div class="alert alert-danger"> Not logged in </div>
} -->
<!-- <ul>
    @for(d of data; track $index){
        <li>{{d.id}} </li>
        <li>{{$index}}</li>
        <li>{{$first}}</li>
        <li>{{$last}}</li>
        <li>{{$odd}}</li>
        <li>{{$even}} </li>
    }
    @empty{
        <li>No data</li>
    }
</ul> -->

<!-- <input [(ngModel)]="name">
 @switch(name){
    @case('marwa') { <p>Hello Marwa</p>}
    @case('ahmed'){ <p> Hello Ahmed </p>}
    @default { <p>Invalid data</p>}
 } -->

 <!-- {{d|date}} -->

 <!-- {{ 7 | tempConvert:'f'}} -->



