<div class="container">
    <router-outlet />
    <app-parent />
    <!-- <div>{{ 'HELLO' | translate }}</div>
    <a (click)="langChange('en')">english</a>
    <a (click)="langChange('ar')">العربيه</a>
    <div class="wrapper">
		<button (click)="changePreferredCountries()">Change Preferred Countries</button>
	</div>
	<div class="wrapper">
		<input type="checkbox"
			[(ngModel)]="separateDialCode">
		<label>&nbsp;Separate Dial Code?</label>
	</div>
    <form #f="ngForm" [formGroup]="phoneForm" (ngSubmit)="addMe()">
        <ngx-intl-tel-input
        [cssClass]="'custom form-control w-100'"
        [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [maxLength]="15"
        [phoneValidation]="true"
        name="phone"
        formControlName="phone"
        [separateDialCode]="separateDialCode"
    ></ngx-intl-tel-input>
    <button>add</button>
    </form> -->
</div>

