<router-outlet />
<!-- {{options|json}}
<ng-template #optionTemplate let-item="item" let-config="config">
  <i class="fa fa-plus"></i>
  {{item.description}}
  <span class="new badge"></span>
</ng-template>

<ngx-select-dropdown [optionItemTemplate]="optionTemplate" [selectedItemTemplate]="optionTemplate" tabindex="0"  [options]="options" [config]="config" [multiple]="true">
</ngx-select-dropdown> -->
<!-- <app-my-counter></app-my-counter> -->
<!-- <app-excel-example></app-excel-example> -->
 <app-files />